{% extends "base.html" %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"> </script>
<script>
$("#link1").on("click", function() {
	$("#link1").attr("style", "background-image: url('/img/link_highlight_07.png');");
});
$(document).ready(function(){
	setTimeout(function(){
				$(".mCSB_container").attr("style", "margin-right: 0px; top:0px; position:relative; overflow:hidden;");
				}
, 2000);
});

</script>
{% endblock scripts %}
	{% block content %}
			<div id="counterBkg">
            		<div id="pagesHeaderBkg">
						<h2 id="pagesHeaderTxt">
							Lap Counter
						</h2>
						<ul id="pagesBack">
							<!-- <li class="pagesBackLink"><a href="#">Individual</a>&nbsp;-</li> -->
							<li class="pagesBackLink">
								<a href="/counter">Lap Counter</a>&nbsp;-
							</li>
							<li class="pagesBackLink">
								<a href="/home">Home</a>
							</li>
						</ul>
					</div>

                    <h1 class="sectionType">Walking Teams</h1>
					<div id="counterCheckGeneral">
						<table id="sorterHeader">
							<tr>
								<th id="donerName" class="sorterDonorName">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team Name
								</th>
								<th id="pledge" class="sorterOther">
									Pledge
								</th>
                                <th id="pledgeMax" class="sorterOther">
									Maximum Donation
								</th>
								<th id="lapsCompleted" class="sorterOther">
									Laps Completed
								</th>
								<th id="total" class="sorterOther">
									Total Raised
								</th>
							</tr>
						</table>
                        <!--<img id="loadingImg" src="/img/loading_bar.gif">-->
						<div id="forScroll">
							<table id="table">
								<tbody id="teamList_body">
                                {% for participant in team %}
                                	<tr class="teamRow" id=" + item + ">
                                        <td id="donorName" class="rowCell">
                                            <a href="/team={{ walker.team.pk  }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ participant['name'] }}</a>
                                        </td>
                                        <td id="pledge" class='rowCell'>
                                            ${{ participant['pledge_amount'] }}
                                        </td>
                                        <td id="pledgeMax" class='rowCell'>
                                            ${{ participant['max_pledge_amount'] }}
                                        </td>
                                        <td id="lapsCompleted" class="rowCell">
                                            {{ laps_completed }}
                                        </td>
                                        <td id="total" class="rowCell">
                                            ${{ participant['pledge_amount']*laps_completed }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
							</table><!-- end table -->
						</div><!-- end forScroll -->
					</div><!-- end counterCheckGeneral -->
                    
                    <h1 class="sectionType">Running Teams</h1>
                    <div id="counterCheckGreek">
						<table id="sorterHeader">
							<tr>
								<th id="donerName" class="sorterDonorName">
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Company Name
								</th>
								<th id="pledge" class="sorterOther">
									Pledge
								</th>
                                <th id="pledgeMax" class="sorterOther">
									Maximum Donation
								</th>
								<th id="lapsCompleted" class="sorterOther">
									Laps Completed
								</th>
								<th id="total" class="sorterOther">
									Total Raised
								</th>
							</tr>
						</table>
                        <!--<img id="loadingImg" src="/img/loading_bar.gif">-->
						<div id="forScroll">
							<table id="table">
								<tbody id="teamList_body">
                                {% for runner in runners %}
                                	<tr class="teamRow" id=" + item + ">
                                        <td id="donorName" class="rowCell">
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ runner.team }}
                                        </td>
                                        <td id="pledge" class='rowCell'>
                                            ${{ runner.pledge_amount }}
                                        </td>
                                        <td id="pledgeMax" class='rowCell'>
                                            ${{ runner.max_pledge_amount }}
                                        </td>
                                        <td id="lapsCompleted" class="rowCell">
                                            {{ runner.laps_completed }}
                                        </td>
                                        <td id="total" class="rowCell">
                                            ${{ runner.total }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
							</table><!-- end table -->
						</div><!-- end forScroll -->
					</div><!-- end counterCheckGreek -->
                    
                    
                    
                    <div id="myCandlesSettingsCheck" style="visibility:hidden;">
                        <!--<img id="loadingImg" src="/img/loading_bar.gif">-->
						<div id="forScroll">
							<table id="table">
								<tbody id="teamList_body"></tbody>
							</table><!-- end table -->
						</div><!-- end forScroll -->
					</div><!-- end myCandlesSettingsCheck -->
			</div><!-- end pagesBkg -->
            
            
	{% endblock content %}