
<!DOCTYPE HTML>
<html lang="en">
<head>
	{% block header %}
	<title>VT Relay Candles - Home</title>
	{% endblock header %}
	<link href="/css/Css.css" type="text/css" rel="stylesheet" />
	<link rel="shortcut icon" href="/img/VT_Relay_Logo_bday_curved_favicon.png" />
	<link rel="image_src" href="http://vtrelaycandles.org/img/thumbnail_facebook.jpg" />
	<meta property="og:image" content="http://vtrelaycandles.org/img/thumbnail_facebook.jpg"/>

	<!-- Custom scrollbars CSS -->
	<link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
</head>


<body id="container" onLoad="{{ onLoad }}">
<div id="fb-root"></div>
	<div id="background">
	<div id="main">
    <div id="top">
			<div id="header">
				<div id="links">
					<ul class="leftNav">
						<li class="leftLink"><a href="/home" >Home</a></li>
						<li class="leftLink"><a href="/howitworks" >How It Works</a></li>
					</ul>
					<ul class="rightNav">
						<li class="rightLink"><a href="/signup">Sign Up</a></li>
						<li class="rightLink"><a href="http://bit.ly/SJNLot">Donate</a></li>
					</ul>
				</div><!-- end links -->
				<div id="social">
					<ul id="socialList">
						<li><a id="twitter" href="http://bit.ly/SBBKAi" target="_blank">Twitter</a></li>
						<li><a id="facebook" href="http://on.fb.me/SBBEZj" target="_blank">facebook</a></li>
					</ul>
				</div><!-- end social -->
                <div id="pagesLinks">
                	<a href="/teamList" id="{{ pagesButtonGeneral }}" class="pagesLink"></a>
                    <a href="/greekList" id="{{ pagesButtonGreek }}" class="pagesLink"></a>
                    <a href="/corpsList" id="{{ pagesButtonCorps }}" class="pagesLink"></a>
                </div><!-- end pagesLinks -->
                <div class="loggedIn">
                	<a id="signInCorner">Login</a>
                    <a id="signOutCorner">Logout</a>
				</div><!-- end loggedIn -->
			</div><!-- end header -->
        {% block login %}
                    <div id="login" style="visibility:hidden;">
                    	<img id="logo" src="/img/myCandles_logo_18.png" />
                        <div id="credentials">
                            <label class="inputEmail">
                                <span>Email</span>
                                <input id="email" type="text" />
                            </label>
                            <label class="inputPassword">
                                <span>Password</span>
                                <input id="password" type="password" />
                            </label>
                        </div><!-- end credentials -->
                        <p>New user?  Click me!</p>
                        <img id="submit" src="/img/login_button_22.png" />
                    </div><!-- end login -->
		{% endblock login %}
        {% block content %}
        {% endblock content %}
		</div><!-- end idk -->
         <div id="feedback">
            <div id="feedbackTab"></div>
            <div id="feedbackBody">
            	<div id="comments">
                	<h2>Comments/Suggestions</h2>
                    <textarea class="commentsTxt" id="commentIn" type="text" name="Comments"></textarea><br />
                	<input id="commentsSubmit"  onclick="sendComment()" type="submit" value="Submit"/>
              </div><!-- end comments -->
                <div id="problems">
						<h2>Problems?</h2><br \>
						<label id="email">Email:</label><input id ="emailIn" class="emailBox" type="text" name="Email"/><br />
						<label id="problem">Problem:&nbsp;</label><textarea id ="problemIn" class="problemBox" type="text" name="Comments"></textarea><br />
						<input id="problemsSubmit" onClick="sendemail()" type="submit" value="Submit"/>
                </div><!-- end problems -->
          </div><!-- end feedbackBody -->
      </div><!-- end feedback -->

      <div id="login" style="visibility:hidden;">
      	<label class="inputEmail">
            <span>Email</span>
            <input id="inputOlympicsSearch" type="text" />
        </label>
        <label class="inputPassword">
            <span>Password</span>
            <input id="inputOlympicsSearch" type="text" />
        </label>

      </div><!-- end login -->
	</div><!-- end main -->
	</div><!-- end background -->




	<!-- Get Google CDN's jQuery and jQuery UI with fallback to local -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

	<!-- Scrollbar -->
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

{% block scrollBar %}
	<script>
	//Scrollbar
	    (function ($) {
	        $(window).load(function () {
	                $("#forScroll").mCustomScrollbar();
	        });
	    })(jQuery);


	//Scrollbar
	    (function ($) {
	        $(window).load(function () {
	                $(".forScroll").mCustomScrollbar();
	        });
	    })(jQuery);

	</script>
{% endblock scrollBar %}

	<script src="/js/underscore-min.js"></script>
	<script src="/js/backbone-min.js"></script>
	{% block scripts %}
	{% endblock scripts %}

	<script>
	function cool(){}
		function setupPage()
		{
			$.get("/events/homepage_events/", function (data,status) {
				setupTable(data);
			});
			//$.get("/companies/donations/all/", function (data,status) {
			//	var tit = 0;
			//	for(cat in data){
			//		tit = tit + parseInt(data[cat].company_donations);
			//	}
			//	tit = addCommas(tit);
			//	document.getElementById("cashRaised").innerHTML = "$" + tit + " Raised";
			//});
		}
		function setupTable(data)
		{
			var sponsor_title = '#sponsor_title';
			var sponsor_paragraph = '#sponsor_paragraph';
			var sponsor_image = '#sponsor_image';
			var sponsor_candles = '#sponsor_candles';
			var sponsor_date = '#sponsor_date';

			var sponsor_number = 1;
			for(item in data)
			{
				var current_title = sponsor_title + sponsor_number;
				var current_paragraph = sponsor_paragraph + sponsor_number;
				var current_image = sponsor_image + sponsor_number;
				var current_candles = sponsor_candles + sponsor_number;
				var date = sponsor_date + sponsor_number;
				sponsor_number = sponsor_number+1;
				record = data[item];
				$(current_title).append(record.fields.name);
				$(current_paragraph).append(record.fields.description);
				$(current_image).attr("src", record.fields.image);
				$(current_candles).append(record.fields.candles_rewarded+' candles');

				//var d1=new Date(record.fields.date);
				//d1.toString('dddd, MMMM ,yyyy')  //returns "Monday, June 29,2009"

				//$(date).append(d1);



				var m_names = new Array("January", "February", "March",
"April", "May", "June", "July", "August", "September",
"October", "November", "December");

var d = new Date(record.fields.date);
var curr_date = d.getDate();
curr_date++;
var sup = "";
if (curr_date == 1 || curr_date == 21 || curr_date ==31)
   {
   sup = "st";
   }
else if (curr_date == 2 || curr_date == 22)
   {
   sup = "nd";
   }
else if (curr_date == 3 || curr_date == 23)
   {
   sup = "rd";
   }
else
   {
   sup = "th";
   }

var curr_month = d.getMonth();
var curr_year = d.getFullYear();

$(date).append(m_names[curr_month] + " " + curr_date + "<SUP>" + sup + "</SUP>");
			}
		}



		// Feedback
		$(document).ready(function () {
		    //$(":not('#feedbackTab')").click(function () {
		    //    $("#feedbackBody").slideDown();
		    //});
		    $("#feedbackTab").click(function (event) {
		        if ($("#feedbackBody").hasClass("up")) {
		            $("#feedbackBody").slideUp();
		            $("#feedbackBody").removeClass("up");
		        }
		        else {
		            $("#feedbackBody").slideDown();
		            $("#feedbackBody").addClass("up");
		        }
		        event.stopPropagation();
		    });
		    $("#feedbackBody").click(function (event) {
		        event.stopPropagation();
		    });
		    $("#background").click(function (event) {
		        event.stopPropagation();
		        if ($("#feedbackBody").hasClass("up")) {
		            $("#feedbackBody").slideUp();
		            $("#feedbackBody").removeClass("up");
		        }

		    });
		});

	</script>

<script type="text/javascript">
$("#signInCorner").on("click", function() {
	$("#login").attr("style", "visiblity:visible;");
});
$("#signOutCorner").on("click", function() {
	$.post("http://vtrelaycandles.org/logout/",
			{
			},
			function(data,status){
			   console.log('you have been logged out');
			   window.location = 'http://vtrelaycandles.org/';
			}).fail(function(err, status){
                console.log('Oops.  Something went wrong :(');
			});//end fail
});
var times = 0;
$("#submit").on("click", function checkBackend(){
		times = times + 1;
		if (times <= 2) {
		email = '';
		password = '';
		email = $("#email").val();
		password = $("#password").val();
		$.post("http://vtrelaycandles.org/loginCredentials/",
			{
				'email':email,
                'password':password
			},
			function(data,status) {
            	console.log('it worked!!');
				var username = data[0].fields.username;
				var base_location = 'http://vtrelaycandles.org/myCandles/user='
				window.location = base_location + username;
			}).fail(function(err, status){
				alert("Oops. We couldn't find that email/password credentials in our system.  Please contact the Candles admin at vtrelay.productions@gmail.com");
                console.log(email);
			});//end fail
		} else {
			window.location = 'http://vtrelaycandles.org/myCandles/sendemail/'
		}
});// end checkBackend

$("#login p").on("click", function() {
	window.location = 'http://vtrelaycandles.org/myCandles/sendemail/'
});
//Input gray label
(function($) {
    function toggleLabel() {
        var input = $(this);
        setTimeout(function() {
            var def = input.attr('title');
            if (!input.val() || (input.val() == def)) {
                input.prev('span').css('visibility', '');
                if (def) {
                    var dummy = $('<label></label>').text(def).css('visibility','hidden').appendTo('body');
                    input.prev('span').css('margin-left', dummy.width() + 3 + 'px');
                    dummy.remove();
                }
            } else {
                input.prev('span').css('visibility', 'hidden');
            }
        }, 0);
    };

    function resetField() {
        var def = $(this).attr('title');
        if (!$(this).val() || ($(this).val() == def)) {
            $(this).val(def);
            $(this).prev('span').css('visibility', '');
        }
    };


    $('input, textarea').on('keydown', toggleLabel);
    $('input, textarea').on('paste', toggleLabel);
    $('select').on('change', toggleLabel);


    $('input, textarea').on('focusin', function() {
        $(this).prev('span').css('color', '#ccc');
    });
    $('input, textarea').on('focusout', function() {
        $(this).prev('span').css('color', '#999');
    });

    $(function() {
        $('input, textarea').each(function() { toggleLabel.call(this); });
    });

})(jQuery);
</script>









	<script type="text/javascript">

	function sendemail(){
	p = document.getElementById("problemIn").value;
	e = document.getElementById("emailIn").value;
	$.post("mail.php", { problem: p, email: e },
		function(){
			alert("Thank You for your Feedback!");
			resetFeedback();
		});
	}

	function sendComment(){
	c = document.getElementById("commentIn").value;
	$.post("comment.php", { comment: c},
		function(){
			alert("Thank You for your Feedback!");
			resetFeedback();
		});
	}

	function resetFeedback(){
		document.getElementById("commentIn").value = "";
		document.getElementById("problemIn").value = "";
		document.getElementById("emailIn").value = "";
		$("#feedbackBody").slideUp();
		$("#feedbackBody").removeClass("up");
	}

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36920407-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>

</html>