{% extends "base.html" %}
{% block scripts %}
{% endblock scripts %}
        {% block login %}
                    <div id="login" style="visibility:hidden;">
                    	<img id="logo" src="/img/myCandles_logo_18.png" />
                        <div id="credentials">
                            <label class="inputEmail">
                                <span>Email</span>
                                <input id="username" type="text" />
                            </label>
                            <label class="inputPassword">
                                <span>Password</span>
                                <input id="password" type="password" />
                            </label>
                        </div><!-- end credentials -->
                        <p>What is my username/credentials?</p>
                        <img id="submit" src="/img/login_button_22.png" />
                    </div><!-- end login -->
		{% endblock login %}