<!DOCTYPE HTML>
<html lang="en">
<head>
	{% block header %}
	<title>VT Relay Candles - Home</title>
	{% endblock header %}
	<link href="/css/Css.css" type="text/css" rel="stylesheet" />
	<link rel="shortcut icon" href="/img/VT_Relay_Logo_bday_curved_favicon.png" />
	<link rel="image_src" href="http://vtrelaycandles.org/img/thumbnail_facebook.jpg" />
	<meta property="og:image" content="http://vtrelaycandles.org/img/thumbnail_facebook.jpg"/>

	<!-- Custom scrollbars CSS -->
	<link href="/css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
</head>


<body id="container" onLoad="{{ onLoad }}">
<div id="fb-root"></div>
	<div id="background">
	<div id="main">
    <div id="top">
			<div id="header">
				<div id="links">
					<ul class="leftNav">
						<li class="leftLink"><a href="/home" >Home</a></li>
						<li class="leftLink"><a href="/howitworks" >How It Works</a></li>
					</ul>
					<ul class="rightNav">
						<li class="rightLink"><a href="/signup">Sign Up</a></li>
						<li class="rightLink"><a href="http://bit.ly/SJNLot">Donate</a></li>
					</ul>
				</div><!-- end links -->
				<div id="social">
					<ul id="socialList">
						<li><a id="twitter" href="http://bit.ly/SBBKAi" target="_blank">Twitter</a></li>
						<li><a id="facebook" href="http://on.fb.me/SBBEZj" target="_blank">facebook</a></li>
					</ul>
				</div><!-- end social -->
                <div id="pagesLinks">
                	<a href="/teamList" id="{{ pagesButtonGeneral }}" class="pagesLink"></a>
                    <a href="/greekList" id="{{ pagesButtonGreek }}" class="pagesLink"></a>
                    <a href="/corpsList" id="{{ pagesButtonCorps }}" class="pagesLink"></a>
                </div><!-- end pagesLinks -->
                <!--<div class="loggedIn">
                	<a id="signInCorner">Sign In</a>
                    <a id="signOutCorner">Sign Out</a>
				</div>--><!-- end loggedIn -->
			</div><!-- end header -->
        {% block content %}
        {% endblock content %}
		</div><!-- end idk -->
         <div id="feedback">
            <div id="feedbackTab"></div>
            <div id="feedbackBody">
            	<div id="comments">
                	<h2>Comments/Suggestions</h2>
                    <textarea class="commentsTxt" id="commentIn" type="text" name="Comments"></textarea><br />
                	<input id="commentsSubmit"  onclick="sendComment()" type="submit" value="Submit"/>
              </div><!-- end comments -->
                <div id="problems">
						<h2>Problems?</h2><br \>
						<label id="email">Email:</label><input id ="emailIn" class="emailBox" type="text" name="Email"/><br />
						<label id="problem">Problem:&nbsp;</label><textarea id ="problemIn" class="problemBox" type="text" name="Comments"></textarea><br />
						<input id="problemsSubmit" onClick="sendemail()" type="submit" value="Submit"/>
                </div><!-- end problems -->
          </div><!-- end feedbackBody -->
      </div><!-- end feedback -->
	</div><!-- end main -->
	</div><!-- end background -->




	<!-- Get Google CDN's jQuery and jQuery UI with fallback to local -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

	<!-- Scrollbar -->
	<script src="/js/jquery.mCustomScrollbar.concat.min.js"></script>

{% block scrollBar %}
	<script>
	//Scrollbar
	    (function ($) {
	        $(window).load(function () {
	                $("#forScroll").mCustomScrollbar();
	        });
	    })(jQuery);

	</script>
{% endblock scrollBar %}

	<script src="/js/underscore.js"></script>
	<script src="/js/backbone.js"></script>
	{% block scripts %}
	{% endblock scripts %}

	<script>
	function cool(){}
		function setupPage()
		{
			$.get("/events/homepage_events/", function (data,status) {
				setupTable(data);
			});
			//$.get("/companies/donations/all/", function (data,status) {
			//	var tit = 0;
			//	for(cat in data){
			//		tit = tit + parseInt(data[cat].company_donations);
			//	}
			//	tit = addCommas(tit);
			//	document.getElementById("cashRaised").innerHTML = "$" + tit + " Raised";
			//});
		}
		function setupTable(data)
		{
			var sponsor_title = '#sponsor_title';
			var sponsor_paragraph = '#sponsor_paragraph';
			var sponsor_image = '#sponsor_image';
			var sponsor_candles = '#sponsor_candles';
			var sponsor_date = '#sponsor_date';

			var sponsor_number = 1;
			for(item in data)
			{
				var current_title = sponsor_title + sponsor_number;
				var current_paragraph = sponsor_paragraph + sponsor_number;
				var current_image = sponsor_image + sponsor_number;
				var current_candles = sponsor_candles + sponsor_number;
				var date = sponsor_date + sponsor_number;
				sponsor_number = sponsor_number+1;
				record = data[item];
				$(current_title).append(record.fields.name);
				$(current_paragraph).append(record.fields.description);
				$(current_image).attr("src", record.fields.image);
				$(current_candles).append(record.fields.candles_rewarded+' candles');

				//var d1=new Date(record.fields.date);
				//d1.toString('dddd, MMMM ,yyyy')  //returns "Monday, June 29,2009"

				//$(date).append(d1);



				var m_names = new Array("January", "February", "March",
"April", "May", "June", "July", "August", "September",
"October", "November", "December");

var d = new Date(record.fields.date);
var curr_date = d.getDate();
curr_date++;
var sup = "";
if (curr_date == 1 || curr_date == 21 || curr_date ==31)
   {
   sup = "st";
   }
else if (curr_date == 2 || curr_date == 22)
   {
   sup = "nd";
   }
else if (curr_date == 3 || curr_date == 23)
   {
   sup = "rd";
   }
else
   {
   sup = "th";
   }

var curr_month = d.getMonth();
var curr_year = d.getFullYear();

$(date).append(m_names[curr_month] + " " + curr_date + "<SUP>" + sup + "</SUP>");
			}
		}



		// Feedback
		$(document).ready(function () {
		    //$(":not('#feedbackTab')").click(function () {
		    //    $("#feedbackBody").slideDown();
		    //});
		    $("#feedbackTab").click(function (event) {
		        if ($("#feedbackBody").hasClass("up")) {
		            $("#feedbackBody").slideUp();
		            $("#feedbackBody").removeClass("up");
		        }
		        else {
		            $("#feedbackBody").slideDown();
		            $("#feedbackBody").addClass("up");
		        }
		        event.stopPropagation();
		    });
		    $("#feedbackBody").click(function (event) {
		        event.stopPropagation();
		    });
		    $("#background").click(function (event) {
		        event.stopPropagation();
		        if ($("#feedbackBody").hasClass("up")) {
		            $("#feedbackBody").slideUp();
		            $("#feedbackBody").removeClass("up");
		        }

		    });
		});

	</script>
	<script type="text/javascript">

	function sendemail(){
	p = document.getElementById("problemIn").value;
	e = document.getElementById("emailIn").value;
	$.post("mail.php", { problem: p, email: e },
		function(){
			alert("Thank You for your Feedback!");
			resetFeedback();
		});
	}

	function sendComment(){
	c = document.getElementById("commentIn").value;
	$.post("comment.php", { comment: c},
		function(){
			alert("Thank You for your Feedback!");
			resetFeedback();
		});
	}

	function resetFeedback(){
		document.getElementById("commentIn").value = "";
		document.getElementById("problemIn").value = "";
		document.getElementById("emailIn").value = "";
		$("#feedbackBody").slideUp();
		$("#feedbackBody").removeClass("up");
	}

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36920407-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

{% block facebookAuth %}
<script>
  // Additional JS functions here
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '607638312582879', // App ID
      channelUrl : 'http://www.vtrelaycandles.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional init code here
	FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
	  $("#signInCorner").hide()
	  testAPI()
    // connected
  } else if (response.status === 'not_authorized') {
	  $("#signOutCorner").hide()
    // not_authorized
  } else {
	  $("#signOutCorner").hide()
    // not_logged_in
  }
 	});// end getLoginStatus
  };//end fbAsyncInit

$(document).ready(function(){
  $("#signInCorner").on("click", function login() {
    FB.login(function(response) {
        if (response.authResponse) {
            // connected
        } else {
            // cancelled
        }
    	});// end login
	});// end signInCorner
	$("#signOutCorner").on("click", function logout() {
    	FB.logout(function(response) {
        	console.log('User is now logged out');
    	});// end logout
	});// end signOut
});// end document ready

function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
    });
}
  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));

</script>
{% endblock facebookAuth %}
</body>

</html>