{% extends "base.html" %}
{% block scripts %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function(){
			$("#system").addClass("highlight");
  			$(".tab").on("click",function(){
				$(".highlight").removeClass("highlight");
    			$(this).toggleClass("highlight");
				name = $(this).attr("name");
				$(".text").hide();
				$("[name='"+name+"']").show();
			});
		}); //end document ready
	</script>
    {% endblock scripts %}
    
    
	{% block content %}
    <div id="howItWorksBkg">
				<div id="pagesHeaderBkg">
					<h2 id="pagesHeaderTxt">Cadets For Cure</h2>
                    <ul id="pagesBack">
                    	<li class="pagesBackLink"><a href="howitworks_general.html">General Teams</a>&nbsp;-</li>
                   		<li class="pagesBackLink"><a href="howitworks.html">How It Works</a>&nbsp;-</li>
                    	<li class="pagesBackLink"><a href="home.html">Home</a></li>
                    </ul>
				</div>

                <div id="explanation">
                	<div id="tabs">
                    	<div id="system" class="tab" name="cool">
                        	<p>Overview</p>
                        </div>
                        <div id="faq" class="tab" name="sweet">
                        	<p>Milestones</p>
                        </div>
                        <div id="comment" class="tab" name="awesome">
                        	<p>Emails</p>
                        </div>
                        <div id="comment" class="tab" name="shizam">
                        	<p>Events</p>
                        </div>
                    </div><!-- end tabs -->
                    <div class="text" name="cool">
                    	<div id="intro">
                        	<h3>Corps Candles System</h3>
                            <p>VT Relay Candles is a company-based competition that rewards points (candles) to companies that engage in Relay activities.  Participants can win points for their company in three ways:  achieve <b>milestones</b> by receiving donations, send <b>emails</b>, and attend Relay <b>events</b>.</p>
                        </div><!-- end intro -->
                        <div id="ways">
                        	<div class="way">
                                <h3>Milestones</h3>
                            	<p>A milestone is a level of money raised.  There are several milestones.  Each milestone you pass you will receive the milestone dollar amount in candles.<br \><br \>Ex. You have reached the $100 milestone because you have raised $110. You will receive 100 candles for reaching the $100 milestone.
</p>
                            </div>
                        	<div class="divider">
                            </div>
                            <div class="way">
                            	<h3>Emails</h3>
                            	<p>Send emails through the vtrelay.org website to receive candles.  Each email you send you will receive 10 candles.  Send as many as you want.<br \><br \>Ex.  You have sent 10 emails through the vtrelay.org website.  You will receive 100 candles.
</p>
                            </div>
                            <div class="divider">
                            </div>
                            <div class="way">
                            	<h3>Events</h3>
                            	<p>Attend VT Relay For Life events to receive candles.  Write your name down to at the cash register to receive candles for attending.  Events include:  Percentage nights, kickoff, team meetings, etc.  <br /><br /><b>Hokie Passport support coming soon!</b>
</p>
                            </div>
                        </div><!-- end ways -->
                    </div><!-- end cool -->



                    <div class="text hideTab" id="sweet" name="sweet">
                    	<div id="milestones">
                        	<h3>Milestone Candle Value</h3>
                            <p>$100 = 100 candles<br /><br />
		$250 = 250 candles<br /><br />
		$350 = 350 candles<br /><br />
		$500 = 500 candles<br /><br />
		$750 = 750 candles<br /><br />
		$1,000 = 1,000 candles<br /><br />
		$1,500 = 1,500 candles<br /><br />
		$2,500 and up = 2,500 candles for every $2,500 you raise
</p>
                        </div><!-- end milestones -->
                        <div class="divider"></div>
                        <div id="milestoneDescription">
                        	<h3>Description</h3>
                        	<p>A milestone is a level of money raised.  There are several milestones.  Each milestone you pass you will receive the milestone dollar amount in candles.<br /><br />

Ex.  You have reached the $100 milestone because you have raised $110.  You will receive 100 candles for reaching the $100 milestone.  You will NOT receive 10 extra candles for raising $10 over the milestone.  The next time you receive candles will be when you have raised a total of $250.  You will receive an additional 250 candles for surpassing this milestone.  You will then have a grand total of 350 candles.
</p>
							<!--<table>
                            	<tr>
                                	<th>Donations</th>
                                    <th>Current Money Raised</th>
                                    <th>Current Milestone Achieved</th>
                                    <th>Current Candles Received</th>
                                </tr>
                                <tr>
                                	<td>$20</td><td>$20</td><td>0</td><td>0</td>
                                </tr>
                                <tr>
                                    <td>$100</td><td>$120</td><td>$100</td><td>100</td>
                                </tr>
                                <tr>
                                    <td>$40</td><td>$160</td><td>0</td><td>0</td>
                                </tr>
                                <tr>
                                    <td>$90</td><td>$250</td><td>$250</td><td>250</td>
                                </tr>
                            </table>-->
                        </div><!-- end milestoneDescription -->
                    </div><!-- end sweet -->



                    <div class="text hideTab" id="awesome" name="awesome">
                    	<div id="emails">
                        	<h3>Emails Candle Value</h3>
                            <p>1 email = 30 candles</p>
                        </div><!-- end emails -->
                        <div class="divider"></div>
                        <div id="emailsDescription">
                        	<h3>Description</h3>
                        	<p>The number one fundraising tool is emails sent by participants.  On average, one email raises $28 towards the cure.<br /><br />

Each email you send through the vtrelay.org website, your company will receive 30 candles.  Send as many as you want.<br /><br />

Instructions to send emails on vtrelay.org:<br /><br />
1.	Login<br /><br />
2.	Scroll down until you see <b>My Tools</b><br /><br />
3.	Click on <b>compose an email</b>

</p>
						<div id="emailsWeb"></div>
					</div><!-- end emailsDescription -->
                  </div><!-- end awesome -->


                    <div class="text hideTab" id="shizam" name="shizam">
                    	<div id="emails">
                        	<h3>Events Candle Value</h3>
                            <p>1 email = 30 candles</p>
                        </div><!-- end emails -->
                        <div class="divider"></div>
                        <div id="emailsDescription">
                        	<h3>Description</h3>
                        	<p>Attend VT Relay For Life events to receive candles.  Write your name down at the cash register to receive candles for attending.  Events include:  Percentage nights, kickoff, team meetings, etc.  Upcoming events will be posted on the home page of this website.  <br /><br /><b>Hokie Passport support coming soon!</b>
</p>

                        </div><!-- emailsDescription -->
                    </div><!-- end shizam -->






                </div><!-- end explanation -->




			</div><!-- end howItWorksBkg -->
    {% endblock content %}