{% extends "base.html" %}

{% block scripts %}
{% endblock scripts %}
	{% block content %}
			<div id="pagesBkg">
            	<div id="pagesHeaderBkg">
						<h2 id="pagesHeaderTxt">
							General Teams
						</h2>
						<ul id="pagesBack">
							<!-- <li class="pagesBackLink"><a href="#">Individual</a>&nbsp;-</li> -->
							<li class="pagesBackLink">
								<a href="teamList.html#">General Teams</a>&nbsp;-
							</li>
							<li class="pagesBackLink">
								<a href="home.html">Home</a>
							</li>
						</ul>
					</div>
				<div id="search-area"><label class="search">Search:&nbsp;&nbsp;<input id="searchBox" type="text" name="teamName"></label></div>

					<div id="content"></div>
					<div id="pagesCheck">
						<table id="sorterHeader">
							<tr>
								<th id="position" class="sorterPosition">
									Pos.
								</th>
								<th id="sort_name" class="sorterTeamName">
									&nbsp;&nbsp;&nbsp;&nbsp;Team Name
								</th>
								<th id="sort_donations" class="sorterOther">
									Milestone
								</th>
								<th id="sort_emails" class="sorterOther">
									Emails
								</th>
								<th id="sort_events" class="sorterOther">
									Events
								</th>
								<th id="sort_total" class="sorterOther">
									Total
								</th>
							</tr>
						</table><img id="loadingImg" src="/img/loading_bar.gif">
						<div id="forScroll">
							<table id="table">
								<tbody id="teamList_body">
                                    <tr class='teamRow' id=" + item + ">
                                        <td id='teamRowPosition'>
                                            record.position
                                        </td>
                                        <td class='teamRowFirstName'>
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;record.team_name
                                        </td>
                                        <td id='teamRowMilestone'>
                                            " + record.team_donation_milestone_candles + "
                                        </td>
                                        <td id='teamRowEmails'>
                                            " + record.team_email_milestone_candles + "
                                        </td>
                                        <td id='teamRowEvents'>
                                            " + record.team_event_milestone_candles + "
                                        </td>
                                        <td id='teamRowTotal'>
                                            " + record.team_candles_total + "
                                        </td>
                                    </tr>
                                </tbody>
							</table><!-- end table -->
						</div><!-- end forScroll -->
					</div><!-- end pagesCheck -->
			</div><!-- end pagesBkg -->




	{% endblock content %}