{% extends "base.html" %}

{% block scripts %}
<script src="/js/teams.js" type="text/javascript"></script>
		<script type="text/template" id="teams-list-row-template">
			<% _.each(teams, function(team){ %>
			<tr class="teamRow" id="team-<%= team.get('team_id') %>">
				<td class="teamRowPosition">
					<%= team.get('position') %>
				</td>
				<td class="teamRowFirstName">
					<a href="#team/<%= team.get('team_id') %>">
						<%= team.get('team_name') %>
					</a>
				</td>
				<td class="team_donation_milestone_candles"><%= team.get('team_donation_milestone_candles') %></td>
				<td class="team_email_milestone_candles"><%= team.get('team_email_milestone_candles') %></td>
				<td class="team_event_milestone_candles"><%= team.get('team_event_milestone_candles') %></td>
				<td class="team_candles"><%= team.get('team_candles_total') %></td>
			</tr>
			<% }); %>
		</script>
		<script type="text/template" id="participants-title-template">
			<a href="/teamList#">Teams</a> &raquo; <%= team.get('team_name') %>
		</script>
		<script type="text/template" id="participants-list-row-template">
			<% _.each(participants, function(p){ %>
			<tr class="teamRow" id="participant-<%= p.get('participant_id') %>">
				<td class="teamRowPosition">
					<%= p.get('position') %>
				</td>
				<td class="teamRowFirstName">
					<a href="#participant/<%= p.get('participant_id') %>">
						<%= p.get('participant_first_name') %>
						<%= p.get('participant_last_name') %>
					</a>
				</td>
				<td class="team_donation_milestone_candles"><%= p.get('participant_donation_milestone_candles') %></td>
				<td class="team_email_milestone_candles"><%= p.get('participant_email_milestone_candles') %></td>
				<td class="team_event_milestone_candles"><%= p.get('participant_event_milestone_candles') %></td>
				<td class="team_candles"><%= p.get('participant_candles_total') %></td>
			</tr>
			<% }); %>
		</script>
        <script type="text/template" id="participant-title-template">
			<a href="/teamList#/team/<%= participant.get('info').team_id %>"><%= participant.get('info').team_name %></a> &raquo; <span><%= participant.get('info').fname %>
			<%= participant.get('info').lname %></span>
		</script>
		<script type="text/template" id="participant-single-template">
		<div class="personal">
			<div class="personalBox">
				<div class="personalTab">
					Milestone
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLarge">
									Date
								</th>
								<th class="personalTableSmall">
									Milestone
								</th>
								<th class="personalTableEnd">
									Candles
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('milestones')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('milestones'), function(milestone){ %>
								<tr>
									<td class="personalTableLarge personalTableFirstRow">
										<%= milestone.date %>
									</td>
									<td class="personalTableSmall personalTableFirstRow">
										<%= milestone.amount %>
									</td>
									<td class="personalTableEnd personalTableFirstRow">
										<%= milestone.candles %>
									</td>
								</tr>
								<% }) %>
							</table>
							<% } %>
						</div>
						<div class="personalBodySpace"></div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomEnd">
							<%= participant.get('totals').milestone_total %>
						</div>
					</div>
				</div>
			</div>
			<div class="personalBox">
				<div class="personalTab">
					Donations
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLargeOne">
									Date
								</th>
								<th class="personalTableEndOne">
									Donations
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('donations')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('donations'), function(donation){ %>
								<tr>
									<td class="personalTableLargeOne personalTableFirstRow">
										<%= donation.datetime %>
									</td>
									<td class="personalTableEndOne personalTableFirstRow">
										$<%= donation.amount %>
									</td>
								</tr>
								<% }) %>
							</table>
							<% } %>
						</div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomEndOne">
							$<%= participant.get('totals').donations_total %>
						</div>
					</div>
				</div>
			</div>
			<div class="emailsBox">
			<div class="personalBox">
				<div class="personalTab">
					Emails Sent
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLarge">
								</th>
								<th class="personalTableSmall">
									Emails
								</th>
								<th class="personalTableEnd">
									Candles
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('emails')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('emails'), function(email){ %>
								<tr>
									<td class="personalTableLarge personalTableFirstRow">
										10-20-12
									</td>
									<td class="personalTableSmall personalTableFirstRow">
										350
									</td>
									<td class="personalTableEnd personalTableFirstRow">
										1435
									</td>
								</tr>
								<% }) %>
							</table>


							<% } %>
						</div>
						<div class="personalBodySpace"></div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomSmall">
							<%= participant.get('totals').emails_sent %>
						</div>
						<div class="personalBodyBottomEnd">
							<%= participant.get('totals').emails_candles %>
						</div>
					</div>
				</div>
			</div>
			</div><!-- end emailsBox -->
			<div class="personalBox">
				<div class="personalTab">
					Events
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLarge">
									Event
								</th>
								<th class="personalTableSmall">
									Attend
								</th>
								<th class="personalTableEnd">
									Candles
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('events')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('events'), function(event){ %>
								<tr>
									<td class="personalTableLarge personalTableFirstRow">
										<%= event.name %>
									</td>
									<td class="personalTableSmall personalTableFirstRow">
										<%= event.date %>
									</td>
									<td class="personalTableEnd personalTableFirstRow">
										<%= event.candles %>
									</td>
								</tr>
								<% }) %>
							</table>
							<% } %>
						</div>
						<div class="personalBodySpace"></div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomSmall">
							<%= participant.get('totals').event_total %>
						</div>
						<div class="personalBodyBottomEnd">
							<%= participant.get('totals').event_candles %>
						</div>
					</div>
				</div>
			</div>
		</div><!-- end personal -->
		<% console.log('rendered');  %>
		
		
		</script>

{% endblock scripts %}
	{% block content %}
			<div id="pagesBkg">
            	<div id="pagesHeaderBkg">
						<h2 id="pagesHeaderTxt">
							General Teams
						</h2>
						<ul id="pagesBack">
							<!-- <li class="pagesBackLink"><a href="#">Individual</a>&nbsp;-</li> -->
							<li class="pagesBackLink">
								<a href="teamList.html#">General Teams</a>&nbsp;-
							</li>
							<li class="pagesBackLink">
								<a href="home.html">Home</a>
							</li>
						</ul>
					</div>
				<div id="search-area"><label class="search">Search:&nbsp;&nbsp;<input id="searchBox" type="text" name="teamName"></label></div>

					<div id="content"></div>
					<div id="pagesCheck">
						<table id="sorterHeader">
							<tr>
								<th id="position" class="sorterPosition">
									Pos.
								</th>
								<th id="team_name" class="sorterTeamName">
									&nbsp;&nbsp;&nbsp;&nbsp;Team Name
								</th>
								<th id="team_donation_milestone_candles" class="sorterOther">
									Milestone
								</th>
								<th id="team_email_milestone_candles" class="sorterOther">
									Emails
								</th>
								<th id="team_event_milestone_candles" class="sorterOther">
									Events
								</th>
								<th id="team_candles_total" class="sorterOther">
									Total
								</th>
							</tr>
						</table><img id="loadingImg" src="/img/loading_bar.gif">
						<div id="forScroll">
							<table id="table">
								<tbody id="teamList_body"></tbody>
							</table><!-- end table -->
						</div><!-- end forScroll -->
					</div><!-- end pagesCheck -->
			</div><!-- end pagesBkg -->
            
            
	{% endblock content %}