{% extends "base.html" %}

{% block scripts %}
{% endblock scripts %}
	{% block content %}
					<div id="homePagesCheck">
						<table id="sorterHeader">
							<tr>
								<th id="day" class="sorterField">
									Date
								</th>
								<th id="eventName" class="sorterField">
									Event Name
								</th>
								<th id="time" class="sorterField">
									Time
								</th>
								<th id="description" class="sorterField">
									Description
								</th>
								<th id="candles" class="sorterField">
									Candles
								</th>
								<th id="prize" class="sorterField">
									Prize
								</th>
							</tr>
						</table>
						<div id="forScroll">
							<table id="table">
								<tbody id="teamList_body">
                                	{% if event.homepage %}
                                            <tr class='teamRow' id=" + item + ">
                                            	{% if event[0] %}
                                                    <td id='day' class="rowCell">
                                                        <h2>{{ event.date|date:"D" }}</h2>
                                                        <p>{{ event.date|date:"n/d" }}</p>
                                                    </td>
                                                {% endif %}
                                                {% for event in events %}
                                                <tr>
                                                    <td id="eventName" class='rowCell'>
                                                        {{ event.name }} {{event.homepage }}
                                                    </td>
                                                    <td id='time' class="rowCell">
                                                        {{ event.start_time }}&nbsp;to&nbsp;{{ event.end_time }}
                                                    </td>
                                                    <td id='description' class="rowCell">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ event.description }}
                                                    </td>
                                                    <td id='candles' class="rowCell">
                                                        {{ event.candles_rewarded }}
                                                    </td>
                                                    <td id='prize' class="rowCell">
                                                        {{ event.prize }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tr>
                                    {% endif %}
                                
                                </tbody>
							</table><!-- end table -->
						</div><!-- end forScroll -->
					</div><!-- end pagesCheck -->




	{% endblock content %}