<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>
			VT Relay Candles - Participants
		</title>
		<link rel="shortcut icon" href="img/VT_Relay_Logo_bday_curved_favicon.png">
		<link href="css/Css.css" rel="stylesheet" type="text/css">

		<!-- Custom scrollbars CSS -->
		<link href="css/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css">

		<!-- Get Google CDN's jQuery and jQuery UI with fallback to local
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
			<script src="js/jquery.js" type="text/javascript"></script>
		-->

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js" type="text/javascript"></script>
		<script src="js/underscore.js" type="text/javascript"></script>
		<script src="js/backbone.js" type="text/javascript"></script>
		<script src="js/global.js" type="text/javascript"></script>

		<!-- custom scrollbars plugin -->
		<script src="js/jquery.mCustomScrollbar.js" type="text/javascript"></script><!-- mousewheel plugin -->
		<script src="js/jquery.mousewheel.min.js" type="text/javascript"></script>

		<script type="text/javascript">

			//Scrollbar
			(function ($) {
				$(window).load(function () {
					$("#forScroll").mCustomScrollbar();
				});
			})(jQuery);

		</script>
	</head>
	<body id="container">
		<div id="main">
			<div id="top">
				<div id="header">
					<div id="links">
						<ul class="leftNav">
							<li class="leftLink">
								<a href="home.html">Home</a>
							</li>
							<li class="leftLink">
								<a href="howitworks.html">How It Works</a>
							</li>
						</ul>
						<ul class="rightNav">
							<li class="rightLink">
								<a href="signup.html">Sign Up</a>
							</li>
							<li class="rightLink">
								<a href="http://bit.ly/SJNLot">Donate</a>
							</li>
						</ul>
					</div><!-- end links -->
					<div id="social">
						<ul id="socialList">
							<li>
								<a id="twitter" href="http://bit.ly/SBBKAi" target="_blank">Twitter</a>
							</li>
							<li>
								<a id="facebook" href="http://on.fb.me/SBBEZj" target="_blank">facebook</a>
							</li>
						</ul>
					</div><!-- end social -->
					<div id="pagesLinks">
						<a href="teamList.html" id="generalUp" class="pagesLink"></a> <a href="greekList.html" id="greeksDown" class="pagesLink"></a> <a href="#" id="corpsDown" class="pagesLink"></a>
					</div><!-- end pagesLinks -->
				</div><!-- <div class="loggedIn">
				<p class="loggedIn">Scott Welch | <a class ="signOut" href="#">Sign Out</a></p>
			</div> -->
				<div id="notSigned"></div>
				<div id="pagesBkg">
					<div id="pagesHeaderBkg">
						<h2 id="pagesHeaderTxt">
							General Teams
						</h2>
						<ul id="pagesBack">
							<!-- <li class="pagesBackLink"><a href="#">Individual</a>&nbsp;-</li> -->
							<li class="pagesBackLink">
								<a href="teamList.html#">General Teams</a>&nbsp;-
							</li>
							<li class="pagesBackLink">
								<a href="home.html">Home</a>
							</li>
						</ul>
					</div>
					<div id="search-area"><label class="search">Search:&nbsp;&nbsp;<input id="searchBox" type="text" name="teamName"></label></div>

					<div id="content"></div>
					<div id="pagesCheck">
						<table id="sorterHeader">
							<tr>
								<th id="position" class="sorterPosition">
									Pos.
								</th>
								<th id="team_name" class="sorterTeamName">
									Team Name
								</th>
								<th id="team_donation_milestone_candles" class="sorterOther">
									Milestone
								</th>
								<th id="team_email_milestone_candles" class="sorterOther">
									Emails
								</th>
								<th id="team_event_milestone_candles" class="sorterOther">
									Events
								</th>
								<th id="team_candles_total" class="sorterOther">
									Total
								</th>
							</tr>
						</table><img id="loadingImg" src="img/loading_bar.gif">
						<div id="forScroll">
							<table id="table">
								<tbody id="team_table_body"></tbody>
							</table><!-- end table -->
						</div><!-- end forScroll -->
					</div><!-- end pagesCheck -->
				</div><!-- end pagesBkg -->
				<div id="feedback">
					<div id="feedbackTab"></div>
					<div id="feedbackBody">
						<div id="comments">
							<h2>
								Comments/Suggestions
							</h2>
							<textarea class="commentsTxt" id="commentIn" type="text" name="Comments">
</textarea><br>
							<input id="commentsSubmit" onclick="sendComment()" type="submit" value="Submit">
						</div><!-- end comments -->
						<div id="problems">
							<h2>
								Problems?
							</h2><br>
							<label id="email">Email:</label><input id="emailIn" class="emailBox" type="text" name="Email"><br>
							<label id="problem">Problem:&nbsp;</label>
							<textarea id="problemIn" class="problemBox" type="text" name="Comments">
</textarea><br>
							<input id="problemsSubmit" onclick="sendemail()" type="submit" value="Submit">
						</div><!-- end problems -->
					</div><!-- end feedbackBody -->
				</div><!-- end feedback -->
			</div><!-- end main -->
		</div>
		<script src="js/app.js" type="text/javascript"></script>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36920407-1']);
			_gaq.push(['_trackPageview']);

			(function () {
			    var ga = document.createElement('script');
			    ga.type = 'text/javascript';
			    ga.async = true;
			    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			    var s = document.getElementsByTagName('script')[0];
			    s.parentNode.insertBefore(ga, s);
			})();

		</script>
		<script type="text/template" id="teams-list-row-template">
			<% _.each(teams, function(team){ %>
			<tr class="teamRow" id="team-<%= team.get('team_id') %>">
				<td class="teamRowPosition"><%= team.get('position') %></td>
				<td class="teamRowFirstName">
					<a href="#team/<%= team.get('team_id') %>">
						<%= team.get('team_name') %>
					</a>
				</td>
				<td class="teamRowOther"><%= team.get('team_donation_milestone_candles') %></td>
				<td class="teamRowOther"><%= team.get('team_email_milestone_candles') %></td>
				<td class="teamRowOther"><%= team.get('team_event_milestone_candles') %></td>
				<td class="teamRowOther"><%= team.get('team_candles_total') %></td>
			</tr>
			<% }); %>
		</script>
		<script type="text/template" id="participants-title-template">
			<a href="teamList.html#">Teams</a> &raquo; <%= team.get('team_name') %>
		</script>
		<script type="text/template" id="participants-list-row-template">
			<% _.each(participants, function(p){ %>
			<tr class="teamRow" id="participant-<%= p.get('participant_id') %>">
				<td class="teamRowPosition"><%= p.get('position') %></td>
				<td class="teamRowFirstName">
					<a href="teamList.html#/participant/<%= p.get('participant_id') %>">
						<%= p.get('participant_first_name') %>
						<%= p.get('participant_last_name') %>
					</a>
				</td>
				<td class="teamRowOther"><%= p.get('participant_donation_milestone_candles') %></td>
				<td class="teamRowOther"><%= p.get('participant_email_milestone_candles') %></td>
				<td class="teamRowOther"><%= p.get('participant_event_milestone_candles') %></td>
				<td class="teamRowOther"><%= p.get('participant_candles_total') %></td>
			</tr>
			<% }); %>
		</script>


		<script type="text/template" id="participant-title-template">
			<a href="teamList.html#/team/<%= participant.get('info').team_id %>"><%= participant.get('info').team_name %></a> &raquo; <span><%= participant.get('info').fname %>
			<%= participant.get('info').lname %></span>
		</script>
		<script type="text/template" id="participant-single-template">

			<div class="personalBox">
				<div class="personalTab">
					Milestone
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLarge">
									Date
								</th>
								<th class="personalTableSmall">
									Milestone
								</th>
								<th class="personalTableEnd">
									Candles
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('milestones')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('milestones'), function(milestone){ %>
								<tr>
									<td class="personalTableLarge personalTableFirstRow">
										10-20-12
									</td>
									<td class="personalTableSmall personalTableFirstRow">
										350
									</td>
									<td class="personalTableEnd personalTableFirstRow">
										1435
									</td>
								</tr>
								<% }) %>
							</table>
							<% } %>
						</div>
						<div class="personalBodySpace"></div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomSmall">
							<%= participant.get('totals').milestone_total %>
						</div>
						<div class="personalBodyBottomEnd">
							####
						</div>
					</div>
				</div>
			</div>
			<div class="personalBox">
				<div class="personalTab">
					Donations
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLargeOne">
									Date
								</th>
								<th class="personalTableEndOne">
									Donations
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('donations')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('donations'), function(donation){ %>
								<tr>
									<td class="personalTableLargeOne personalTableFirstRow">
										<%= donation.date %>
									</td>
									<td class="personalTableEndOne personalTableFirstRow">
										<%= donation.amount %>
									</td>
								</tr>
								<% }) %>
							</table>
							<% } %>
						</div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomEndOne">
							<%= participant.get('totals').donations_total %>
						</div>
					</div>
				</div>
			</div>
			<div class="personalBox">
				<div class="personalTab">
					Emails Sent
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLarge">
									Date
								</th>
								<th class="personalTableSmall">
									Emails
								</th>
								<th class="personalTableEnd">
									Candles
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('emails')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('emails'), function(email){ %>
								<tr>
									<td class="personalTableLarge personalTableFirstRow">
										10-20-12
									</td>
									<td class="personalTableSmall personalTableFirstRow">
										350
									</td>
									<td class="personalTableEnd personalTableFirstRow">
										1435
									</td>
								</tr>
								<% }) %>
							</table>
							<% } %>
						</div>
						<div class="personalBodySpace"></div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomSmall">
							<%= participant.get('totals').emails_sent %>
						</div>
						<div class="personalBodyBottomEnd">
							<%= participant.get('totals').emails_candles %>
						</div>
					</div>
				</div>
			</div>
			<div class="personalBox">
				<div class="personalTab">
					Events
				</div>
				<div class="personalBody">
					<div class="personalBodyTop">
						<table class="personalTable">
							<tr class="personalBodyHeader">
								<th class="personalTableLarge">
									Event
								</th>
								<th class="personalTableSmall">
									Attend
								</th>
								<th class="personalTableEnd">
									Candles
								</th>
							</tr>
						</table>
						<div class="forScroll">
							<% if ( _.size(participant.get('events')) > 0 ){ %>
							<table class="personalTable">
								<% _.each(participant.get('events'), function(event){ %>
								<tr>
									<td class="personalTableLarge personalTableFirstRow">
										10-20-12
									</td>
									<td class="personalTableSmall personalTableFirstRow">
										350
									</td>
									<td class="personalTableEnd personalTableFirstRow">
										1435
									</td>
								</tr>
								<% }) %>
							</table>
							<% } %>
						</div>
						<div class="personalBodySpace"></div>
					</div>
					<div class="personalBodyBottom">
						<div class="personalBodyBottomLarge">
							Total
						</div>
						<div class="personalBodyBottomSmall">
							<%= participant.get('totals').event_total %>
						</div>
						<div class="personalBodyBottomEnd">
							<%= participant.get('totals').event_candles %>
						</div>
					</div>
				</div>
			</div>
		</script>
	</body>
</html>