#container
{
	margin: 0;
}
body
{
	background-image: url('../img/bkg2.png');
	background-position: center top;
}
body #loading
{
	background-image: url("../img/loading_09.png");
	background-position: center;
	height: 98px;
	width: 301px;
	z-index: 1;
}
#main
{
	box-shadow: 0 0 10px black;
	height: 1000px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
#loadingImg
{
	margin: 125px 275px;
}
#service
{
	background-image: url("../img/out_of_service_03.png");
	background-position: center;
	float: left;
	height: 197px;
	margin-left: 175px;
	margin-top: -350px;
	width: 565px;
	z-index: 1;
}
#beta
{
	background-image: url("../img/beta_03.png");
	height: 29px;
	margin-left: 475px;
	margin-top: -155px;
	width: 59px;
}
#loadingSignImg
{
	margin: 40px 55px;
	width: 225px;
}
#thanksSign
{
	background-image: url("../img/thanks_for_submitting_09.png");
	background-repeat: no-repeat;
	height: 317px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	width: 410px;
}
body #feedback
{
	bottom: 0px;
	color: #FFF;
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	position: fixed;
	width: 960px;
}
#feedbackTab
{
	background-image: url("../img/feedback_12.png");
	background-position: center;
	cursor: pointer;
	height: 34px;
	margin: 0;
	width: 960px;
	z-index: 2;
}
#feedbackBody
{
	background-image: url("../img/Feedback_bkg_14.png");
	background-position: center;
	display: none;
	height: 292px;
	margin: 0;
	width: 960px;
	z-index: 1;
}
#feedback #feedbackBody #comments
{
	float: left;
	margin-top: 10px;
}
#feedback #feedbackBody #comments h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	margin-left: 20px;
	margin-top: 0px;
}
#feedback #feedbackBody #comments .commentsTxt
{
	height: 175px;
	margin-left: 20px;
	margin-top: 10px;
	width: 350px;
}
#feedback #feedbackBody #comments #commentsSubmit
{
	background: url("../img/feedback_submit_16.png");
	border: none;
	cursor: pointer;
	float: left;
	font-size: 0;
	height: 27px;
	margin-left: 300px;
	margin-top: 13px;
	width: 72px;
}
#feedback #feedbackBody #problems
{
	float: left;
	height: 290px;
	margin-left: 50px;
	margin-top: 10px;
	width: 400px;
}
#feedback #feedbackBody #problems h2
{
	font-size: 18px;
	margin: 0;
	margin-top: 0px;
}
#feedback #feedbackBody #problems #email
{
	margin-top: 10px;
}
#feedback #feedbackBody #problems .emailBox
{
	margin-left: 33px;
}
#feedback #feedbackBody #problems #problem
{
	float: left;
	margin-top: 10px;
}
#feedback #feedbackBody #problems .problemBox
{
	float: left;
	height: 145px;
	margin-left: 10px;
	margin-top: 10px;
	width: 300px;
}
#feedback #feedbackBody #problems #problemsSubmit
{
	background: url("../img/feedback_submit_16.png");
	border: none;
	cursor: pointer;
	float: left;
	font-size: 0;
	height: 27px;
	margin-left: 310px;
	margin-top: 13px;
	width: 72px;
}
#header
{
	background-image: url('../img/navigation_bkg.png');
	height: 40px;
	margin: 0;
	width: 100%;
}
#header #links
{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	height: 0px;
	margin: 0;
	padding: 0;
	text-shadow: black .1em .2em .8em;
}
#header #links .leftNav
{
	display: inline;
	float: left;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 0px;
	margin-top: 10px;
	padding: 0;
	webkit-padding-start: 0px;
}
#header #links .leftNav .leftLink
{
	display: inline;
	float: left;
	margin-left: 90px;
	padding: 0;
	padding-right: 0px;
}
#header #links .leftNav .leftLink a
{
	color: white;
	float: left;
	margin: 0;
	text-decoration: none;
}
#header #links .rightNav
{
	display: inline;
	float: left;
	list-style-type: none;
	margin-bottom: 10px;
	margin-left: 160px;
	margin-top: 10px;
	padding: 0;
	webkit-padding-start: 0px;
}
#header #links .rightNav .rightLink
{
	display: inline;
	float: left;
	margin-left: 90px;
	margin-right: 0px;
	padding: 0;
}
#header #links .rightNav .rightLink a
{
	color: white;
	float: left;
	margin: 0;
	text-decoration: none;
}
#header #social
{
	float: right;
	height: 30px;
	margin-right: 30px;
	margin-top: 10px;
	padding: 0;
	text-shadow: none;
	width: 70px;
}
#header #social #socialList
{
	display: inline;
	float: right;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	webkit-margin-after: 0em;
	webkit-margin-before: 0em;
}
#header #social #socialList li
{
	float: right;
	height: 0px;
	margin: 0;
	padding: 0;
}
#header #social #socialList #facebook
{
	background-image: url('../img/facebook.png');
	float: right;
	height: 20px;
	margin-right: 30px;
	margin-top: 0px;
	padding: 0;
	text-indent: -999999px;
	width: 20px;
}
#header #social #socialList #twitter
{
	background-image: url('../img/twitter.png');
	float: right;
	height: 20px;
	margin: 0;
	padding: 0;
	text-indent: -999999px;
	width: 20px;
}
#header #pagesLinks
{
	display: inline;
	float: left;
	height: 18px;
	margin-left: 10px;
	margin-top: 0px;
	width: 200px;
}
#header #pagesLinks .pagesLink
{
	margin-left: 10px;
}
#header #pagesLinks #generalUp
{
	background-image: url("../img/pages_link_general_up_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #generalDown
{
	background-image: url("../img/pages_link_general_down_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #generalDown:hover
{
	background-image: url("../img/pages_link_general_up_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #greeksUp
{
	background-image: url("../img/pages_link_greek_up_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #greeksDown
{
	background-image: url("../img/pages_link_greek_down_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #greeksDown:hover
{
	background-image: url("../img/pages_link_greek_up_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #corpsUp
{
	background-image: url("../img/pages_link_corps_up_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #corpsDown
{
	background-image: url("../img/pages_link_corps_down_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#header #pagesLinks #corpsDown:hover
{
	background-image: url("../img/pages_link_corps_up_05.png");
	float: left;
	height: 18px;
	margin-top: 0px;
	width: 42px;
}
#logo
{
	margin-left: 0px;
	margin-right: auto;
	margin-top: -35px;
}
#top
{
	background-image: url('../img/Logo_02.png');
	background-repeat: no-repeat;
	height: 250px;
}
h1, h2, h3, h4
{
	color: white;
	font-family: Arial;
}
p
{
	color: white;
	font-family: Arial;
}
div.textRaised
{
	float: left;
	line-height: 8px;
	margin-left: 40px;
	width: 92%;
}
h1.textRaised
{
	font-size: 265%;
}
div#dare
{
	background-image: url('../img/dare_bkg.png');
	float: right;
	height: 156px;
	margin-top: 40px;
	width: 362px;
}
#dareText
{
	float: left;
	margin-left: 20px;
	width: 55%;
}
#dareText h2
{
	font-size: 130%;
}
div.candle
{
	float: right;
	width: 35%;
}
img.textRaised
{
	margin-top: -10px;
}
#candles
{
	width: 200px;
}
img.candle
{
	float: right;
	margin: 20px 15px 0 0;
}
h4.five
{
	line-height: 5px;
}
.sponsor
{
	background-image: url('../img/fundraiser_bkg_13.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	float: left;
	height: 300px;
	margin-left: 47px;
	width: 180px;
}
.sponsor .sponsorHeader
{
	background-image: url('../img/fundraiser_title_13.png');
	background-repeat: no-repeat;
	height: 39px;
	width: 180px;
}
.sponsor .sponsorHeader .sponsor_title
{
	font-size: 82%;
	line-height: 30px;
	margin: 0;
	padding-top: 5px;
	text-align: center;
}
.sponsor .sponsor_image
{
	border: none;
	border-spacing: 0px;
	height: 70px;
	margin-left: 50px;
	margin-top: 10px;
	padding: 0;
	width: 80px;
}
.sponsor .sponsor_candles
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 900;
	height: 20px;
	text-align: center;
	width: 180px;
}
.sponsor .forScroll .sponsor_paragraph
{
	float: left;
	height: 80px;
	margin: 0px 0px 0px 10px;
	text-align: center;
	width: 160px;
	word-wrap: break-word;
}
.sponsor .mCSB_container
{
	margin: 0;
}
.sponsor .forScroll
{
	float: left;
	height: 80px;
	overflow: auto;
	width: 180px;
}
div.loggedIn
{
	float: right;
	font-size: 10px;
	margin-right: 10px;
	margin-top: -5px;
}
#teamBoxes
{
	display: inline;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 50px;
	margin-left: 70px;
	margin-right: 0px;
	margin-top: 90px;
	padding: 0;
	width: 800px;
}
#teamBoxes .teamBox
{
	background-image: url('../img/pages_link_background_09.png');
	float: right;
	height: 62px;
	margin-right: 50px;
	padding: 0;
	width: 195px;
}
.teamBox #general
{
	color: white;
	float: left;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 18px;
	text-align: center;
	text-decoration: none;
	width: 195px;
}
.teamBox #greeks
{
	color: white;
	float: left;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 18px;
	text-align: center;
	text-decoration: none;
	width: 195px;
}
.teamBox #cadets
{
	color: white;
	float: left;
	font-size: 16pt;
	font-weight: bold;
	margin-top: 18px;
	text-align: center;
	text-decoration: none;
	width: 195px;
}
#top #header .nav
{
	display: block;
	font-weight: bold;
	margin-bottom: -10px;
}
#notSigned
{
	background-image: url("../img/not_signed.png");
	float: right;
	height: 66px;
	margin-right: 220px;
	width: 155px;
}
#pagesBkg
{
	border-radius: 30px;
	box-shadow: 0px 4px 5px #222222;
	height: 500px;
	margin-left: 25px;
	margin-top: 35px;
	width: 910px;
}
#pagesBkg #teamBoxes
{
	display: inline;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 50px;
	margin-left: 50px;
	margin-right: 0px;
	margin-top: 50px;
	padding: 0;
	width: 800px;
}
#pagesBkg #pagesHeaderBkg
{
	background-image: url('../img/pages_header_05.png');
	height: 42px;
	width: 910px;
}
#pagesBkg #pagesHeaderBkg #pagesHeaderTxt
{
	font-size: 130%;
	line-height: 34pt;
	text-indent: 25px;
}
#pagesBkg #pagesHeaderBkg #pagesBack
{
	float: right;
	list-style-type: none;
	margin-right: 20px;
	margin-top: -50px;
}
#pagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink
{
	color: white;
	display: inline;
}
#pagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink a
{
	color: white;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
}
#pagesBkg .search
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	left: 240px;
	position: relative;
	top: 33px;
}
#pagesBkg .searchHow
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	left: 240px;
	top: 33px;
}
#pagesBkg #searchBox
{
	border-radius: 2px;
	color: none;
	width: 120px;
}
#pagesCheck
{
	box-shadow: 0px 4px 5px #222222;
	height: 400px;
	margin-left: 27px;
	margin-top: 0px;
	width: 855px;
}
#pagesCheck #forScroll
{
	float: left;
	height: 350px;
	overflow: hidden;
	width: 100%;
}
#pagesCheck #forScroll #table
{
	border: none;
	border-collapse: separate;
	border-spacing: 0px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 100%;
}
#pagesCheck #forScroll #table #team_table_body
{
	border: none;
	border-color: none;
	border-spacing: 0px;
	box-shadow: none;
	height: 100%;
	width: 100%;
}
#pagesCheck #forScroll #table #team_table_body a
{
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}
#pagesCheck #forScroll #table #team_table_body a:hover
{
	text-decoration: none;
}
#pagesCheck #sorterHeader
{
	background-image: url('../img/everyone_sorter_background_11.png');
	float: left;
	margin-left: 0px;
	width: 100%;
}
#pagesCheck #sorterHeader .sorterPosition
{
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	width: 48px;
}
#pagesCheck #sorterHeader .sorterTeamName
{
	border-left: 2px solid #222222;
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	padding-left: 15px;
	padding-top: 11px;
	text-align: left;
	width: 325px;
}
#pagesCheck #sorterHeader th
{
	cursor: pointer;
}
#pagesCheck #sorterHeader .sorterOther
{
	border-left: 2px solid #222222;
	color: white;
	float: left;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	padding-top: 11px;
	text-align: center;
	width: 100px;
}
#pagesCheck #forScroll #table #team_table_body .teamRow
{
	border-spacing: 0px;
	box-shadow: none;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: none;
	width: 100%;
}
table
{
	border-spacing: 0px;
}
#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowPosition
{
	border: none;
	font-family: arial;
	font-size: 12px;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 48px;
}
#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowFirstName
{
	border: none;
	font-family: arial;
	font-size: 12px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 10px;
	text-align: left;
	width: 308px;
}
table
{
	border-spacing: 0px;
}
#pagesCheck #forScroll #table #team_table_body .teamRow .teamRowOther
{
	padding-bottom: 10px;
	padding-top: 10px;
	padding-top: 15px;
	text-align: center;
	width: 100px;
}
#greekPagesBkg
{
	border-radius: 30px;
	box-shadow: 0px 4px 5px #222222;
	height: 500px;
	margin-left: 25px;
	margin-top: 35px;
	width: 910px;
}
#greekPagesBkg #pagesHeaderBkg
{
	background-image: url('../img/pages_header_05.png');
	height: 42px;
	width: 910px;
}
#greekPagesBkg #pagesHeaderBkg #pagesHeaderTxt
{
	font-size: 130%;
	line-height: 34pt;
	text-indent: 25px;
}
#greekPagesBkg #pagesHeaderBkg #pagesBack
{
	float: right;
	list-style-type: none;
	margin-right: 20px;
	margin-top: -50px;
}
#greekPagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink
{
	color: white;
	display: inline;
}
#greekPagesBkg #pagesHeaderBkg #pagesBack .pagesBackLink a
{
	color: white;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
}
#greekPagesBkg .search
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	left: 240px;
	position: relative;
	top: 33px;
}
#greekPagesBkg #searchBox
{
	border-radius: 2px;
	color: none;
	width: 120px;
}
#greekPagesCheck
{
	box-shadow: 0px 4px 5px #222222;
	float: left;
	height: 370px;
	margin-left: 27px;
	margin-top: 0px;
	width: 855px;
}
#greekPagesCheck #forScroll
{
	float: left;
	height: 310px;
	width: 100%;
}
#greekPagesCheck #forScroll #table
{
	border: none;
	border-collapse: separate;
	border-spacing: 0px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 100%;
}
#greekPagesCheck #forScroll #table #team_table_body
{
	border: none;
	border-color: none;
	border-spacing: 0px;
	box-shadow: none;
	height: 100%;
	width: 100%;
}
#greekPagesCheck #sorterHeader
{
	background-image: url('../img/everyone_sorter_background_11.png');
	float: left;
	margin-left: 0px;
	width: 100%;
}
#greekPagesCheck #sorterHeader .greekSorterPosition
{
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	width: 48px;
}
#greekPagesCheck #sorterHeader .greekSorterTeamName
{
	border-left: 2px solid #222222;
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	padding-top: 11px;
	text-align: left;
	width: 340px;
}
#greekPagesCheck #sorterHeader th
{
	cursor: pointer;
}
#greekPagesCheck #sorterHeader .greekSorterOther
{
	border-left: 2px solid #222222;
	color: white;
	float: left;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	padding-top: 11px;
	text-align: center;
	width: 85px;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow
{
	border-spacing: 0px;
	box-shadow: none;
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: none;
	margin-top: 10px;
	width: 100%;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowPosition
{
	border: none;
	float: left;
	font-family: arial;
	font-size: 12px;
	text-align: center;
	width: 48px;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow .greekRowFirstName
{
	border: none;
	float: left;
	font-family: arial;
	font-size: 12px;
	text-align: left;
	width: 342px;
}
table
{
	border-spacing: 0px;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowDonation
{
	border: none;
	float: left;
	text-align: center;
	width: 87px;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow p
{
	display: inline;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowRegistration
{
	border: none;
	float: left;
	text-align: center;
	width: 87px;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowEvents
{
	border: none;
	float: left;
	text-align: center;
	width: 87px;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowTshirt
{
	border: none;
	float: left;
	text-align: center;
	width: 87px;
}
#greekPagesCheck #forScroll #table #team_table_body .greekRow #greekRowTotal
{
	border: none;
	float: left;
	text-align: right;
	width: 57px;
}
#signUpBkg
{
	border-radius: 30px;
	box-shadow: 0px 4px 5px #222222;
	height: 460px;
	margin-left: 25px;
	margin-top: 35px;
	width: 910px;
}
#signUpBkg #signUpCandles
{
	float: left;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 450px;
}
#signUpBkg #signUpRelay
{
	float: right;
	height: 100%;
	width: 48%;
}
#signUpRelayTxt
{
	float: right;
	font-size: 130%;
	line-height: 34pt;
	margin-right: 25px;
	margin-top: 0px;
}
#signUpBkg #signUpRelay #boxes
{
	float: right;
	margin-top: 50px;
}
#signUpBkg #signUpRelay #boxes .box
{
	background-image: url('../img/pages_link_background_09.png');
	float: right;
	height: 62px;
	margin-right: 120px;
	margin-top: 40px;
	padding: 0;
	width: 195px;
}
#signUpBkg #signUpRelay #boxes .box a
{
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 19px;
	text-align: center;
	text-decoration: none;
	width: 195px;
}
#signUpBkg #signUpHeaderBkg
{
	background-image: url('../img/pages_header_05.png');
	float: left;
	height: 42px;
	margin-right: 0px;
	margin-top: 0px;
	width: 910px;
}
#signUpCandlesTxt
{
	float: left;
	font-size: 130%;
	line-height: 34pt;
	margin: 0;
	text-indent: 25px;
}
.signUpTxt
{
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	left: 30px;
	margin-left: 30px;
	margin-top: 35px;
	width: 350px;
}
.signUpEntry
{
	border-radius: 3px;
	position: relative;
	width: 200px;
	z-index: -1;
}
#signUpSubmit
{
	background: #303;
	border: 1px solid #3A3078;
	border-radius: 5px;
	color: white;
	height: 30px;
	left: 250px;
	position: relative;
	top: 300px;
	width: 120px;
}
#signUpSubmit:hover
{
	background: #2C3B7C;
}
#signUpBkg #divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 350px;
	margin-left: 10px;
	margin-top: 80px;
	width: 1px;
}
#signUpCheck
{
	box-shadow: 0px 2px 2px #222222;
	height: 210px;
	margin-left: 30px;
	margin-top: 20px;
	width: 340px;
}
#signUpCheck #forScroll
{
	float: left;
	height: 171px;
	width: 340px;
}
#signUpCheck #forScroll .mCSB_container
{
	margin: 0;
}
#signUpCheck #forScroll #table
{
	border-collapse: separate;
	border-spacing: 0;
	float: left;
	height: 100%;
	margin-left: 0px;
	margin-top: 0px;
	width: 100%;
}
#signUpCheck #forScroll #table #team_table_body
{
	border: none;
	border-color: none;
	border-spacing: none;
	box-shadow: none;
	height: 100%;
	width: 100%;
}
#signUpCheck #sorterHeader
{
	background-image: url('../img/everyone_sorter_background_11.png');
	float: left;
	height: 39px;
	margin-left: 0px;
	width: 100%;
}
#signUpCheck #sorterHeader .sorterTeamName
{
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 0 0 20px;
	text-align: left;
}
#signUpCheck #forScroll #table #team_table_body .signUpTeamRow
{
	box-shadow: none;
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: none;
	width: 100%;
}
#signUpCheck #forScroll #table #team_table_body .signUpTeamRow:hover
{
	background-color: #003;
	box-shadow: none;
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: none;
	width: 100%;
}
#signUpCheck #forScroll #table #team_table_body .signUpTeamRowFirstName
{
	border: none;
	cursor: hand;
	cursor: pointer;
	float: left;
	font-family: arial;
	font-size: 12px;
	padding-left: 0px;
	padding-top: 10px;
	width: 100%;
}
#highlight
{
	background-color: #330033;
}
.highlight
{
	background-color: #330033;
}
#attendanceBkg
{
	background-image: url('../img/attendance_bkg_07.png');
	float: left;
	height: 260px;
	left: 10px;
	position: relative;
	top: 100px;
	width: 591px;
}
#signin
{
	left: 30px;
	margin-top: 30px;
	position: relative;
	width: 90%;
}
#signin #guest
{
	float: right;
	margin-top: 10px;
	right: 100px;
	width: 50px;
}
#signInSubmit
{
	background: #303;
	border: 1px solid #3A3078;
	border-radius: 5px;
	color: white;
	height: 30px;
	left: 250px;
	position: relative;
	top: 300px;
	width: 120px;
}
#signInSubmit:hover
{
	background: #2C3B7C;
}
input.signin
{
	float: right;
	margin-top: 10px;
}
#head
{
	color: white;
	font-family: Arial;
	text-decoration: underline;
}
#login
{
	border-radius: 20px;
	border-style: solid;
	float: left;
	height: 400px;
	margin: 80px 0 0 40px;
	width: 40%;
}
#signin label
{
	color: white;
	font-family: Arial;
	font-size: 22px;
	line-height: 200%;
}
#howItWorksBkg .search
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	left: 240px;
	position: relative;
	top: 541px;
}
#howItWorksBkg #searchBox
{
	border-radius: 2px;
	color: none;
	width: 120px;
}
#howItWorksBkg
{
	border-radius: 30px;
	box-shadow: 0px 4px 5px #222222;
	height: 900px;
	margin-left: 25px;
	margin-top: 35px;
	width: 910px;
}
#howItWorksBkg #pagesHeaderBkg
{
	background-image: url('../img/pages_header_05.png');
	height: 42px;
	width: 910px;
}
#howItWorksBkg #pagesHeaderBkg #pagesHeaderTxt
{
	font-size: 130%;
	line-height: 34pt;
	text-indent: 25px;
}
#howItWorksBkg #pagesHeaderBkg #pagesBack
{
	float: right;
	list-style-type: none;
	margin-right: 20px;
	margin-top: -50px;
}
#howItWorksBkg #pagesHeaderBkg #pagesBack .pagesBackLink
{
	color: white;
	display: inline;
}
#howItWorksBkg #pagesHeaderBkg #pagesBack .pagesBackLink a
{
	color: white;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
}
#art
{
	background-image: url("../img/how-it-works-art_02.png");
	float: left;
	height: 80px;
	margin-left: 27px;
	margin-top: 10px;
	width: 855px;
}
#howItWorksCheck
{
	box-shadow: 0px 4px 5px #222222;
	float: left;
	height: 100px;
	margin-left: 27px;
	margin-top: 0px;
	width: 855px;
}
#howItWorksCheck #forScroll
{
	float: left;
	height: 150px;
	width: 100%;
}
#howItWorksCheck #forScroll #table
{
	border: none;
	border-collapse: separate;
	border-spacing: 0px;
	float: left;
	margin-left: 0px;
	margin-top: 0px;
	width: 100%;
}
#howItWorksCheck #forScroll #table #team_table_body
{
	border: none;
	border-color: none;
	border-spacing: 0px;
	box-shadow: none;
	height: 100%;
	width: 100%;
}
#howItWorksCheck #sorterHeader
{
	background-image: url('../img/everyone_sorter_background_11.png');
	float: left;
	margin-left: 0px;
	width: 100%;
}
#howItWorksCheck #sorterHeader .sorterPosition
{
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	width: 48px;
}
#howItWorksCheck #sorterHeader .sorterTeamName
{
	border-left: 2px solid #222222;
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	padding-bottom: 3px;
	padding-top: 6px;
	text-align: left;
	width: 340px;
}
#howItWorksCheck #sorterHeader th
{
	cursor: pointer;
}
#howItWorksCheck #sorterHeader .sorterOther
{
	border-left: 2px solid #222222;
	color: white;
	float: left;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	height: 27px;
	padding-top: 11px;
	text-align: center;
	width: 110px;
}
#howItWorksCheck #forScroll #table #team_table_body .teamRow
{
	border-spacing: 0px;
	box-shadow: none;
	color: white;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	list-style-type: none;
	margin-top: 20px;
	width: 100%;
}
#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowPosition
{
	border: none;
	float: left;
	font-family: arial;
	font-size: 12px;
	text-align: center;
	width: 48px;
}
#howItWorksCheck #forScroll #table #team_table_body .teamRow .teamRowFirstName
{
	border: none;
	float: left;
	font-family: arial;
	font-size: 12px;
	text-align: left;
	width: 342px;
}
table
{
	border-spacing: 0px;
}
#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowMilestone
{
	border: none;
	float: left;
	text-align: center;
	width: 112px;
}
#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowEmails
{
	border: none;
	float: left;
	text-align: center;
	width: 112px;
}
#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowEvents
{
	border: none;
	float: left;
	text-align: center;
	width: 112px;
}
#howItWorksCheck #forScroll #table #team_table_body .teamRow #teamRowTotal
{
	border: none;
	float: left;
	text-align: right;
	width: 70px;
}
#explanation
{
	float: left;
	margin-left: 27px;
	margin-top: 0px;
}
#explanation #sweet
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 400px;
	margin-top: 0px;
	width: 855px;
}
#explanation #awesome
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 600px;
	margin-top: 0px;
	width: 855px;
}
#explanation #shizam
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 400px;
	margin-top: 0px;
	width: 855px;
}
#explanation #tabs
{
	float: left;
}
#explanation #tabs #system
{
	border-radius: 3px;
	box-shadow: 0 -2px 5px #222;
	cursor: hand;
	cursor: pointer;
	display: inline;
	float: left;
	height: 20px;
	margin-left: 20px;
	width: 100px;
}
#explanation #tabs #faq
{
	border-radius: 3px;
	box-shadow: 0 -2px 5px #222;
	cursor: hand;
	cursor: pointer;
	display: inline;
	float: left;
	height: 20px;
	margin-left: 20px;
	width: 100px;
}
#explanation #tabs #comment
{
	border-radius: 3px;
	box-shadow: 0 -2px 5px #222;
	cursor: hand;
	cursor: pointer;
	display: inline;
	float: left;
	height: 20px;
	margin-left: 20px;
	width: 100px;
}
#explanation #tabs p
{
	float: left;
	margin: 0;
	padding-top: 2px;
	text-align: center;
	width: 100%;
}
#explanation .text
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 400px;
	margin-top: 0px;
	width: 855px;
}
#explanation .text #intro
{
	float: left;
	height: 120px;
	margin-left: 20px;
	margin-top: 20px;
	width: 820px;
}
#explanation .text #intro h3
{
	float: left;
	margin: 0;
}
#explanation .text #intro p
{
	float: left;
	margin: 0;
	padding-top: 10px;
}
#explanation .text #ways
{
	margin-top: 0px;
}
#explanation .text #ways .way
{
	display: box;
	float: left;
	margin-left: 20px;
	width: 250px;
}
#explanation .text #ways .way h3
{
	float: left;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
#explanation .text #ways .way p
{
	float: left;
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	padding-top: 0px;
	width: 250px;
}
#explanation .text #ways .way p a
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	text-decoration: none;
}
#explanation .text #ways .divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 150px;
	margin-left: 20px;
	margin-top: 0px;
	width: 1px;
}
.dividerHoriz
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 1px;
	margin-bottom: 15px;
	margin-left: 40px;
	margin-right: 70px;
	margin-top: 10px;
	width: 300px;
}
#explanation .text #milestones
{
	float: left;
	height: 400px;
	width: 300px;
}
#explanation .text #milestones h3
{
	margin-left: 20px;
	margin-top: 20px;
}
#explanation .text #milestones p
{
	margin-left: 30px;
	margin-top: 20px;
}
#explanation .text .divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 300px;
	margin-left: 20px;
	margin-top: 50px;
	width: 1px;
}
#explanation .text #milestoneDescription
{
	float: left;
	height: 400px;
	margin: 0;
	width: 490px;
}
#explanation .text #milestoneDescription h3
{
	margin-left: 30px;
}
#explanation .text #milestoneDescription p
{
	margin-bottom: 0px;
	margin-left: 30px;
}
#explanation .text #milestoneDescription table
{
	border: thin;
	border-bottom-color: white;
	color: white;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px;
	margin-top: 20px;
}
#explanation .text #milestoneDescription table tbody
{
	border-bottom-color: white;
	display: table;
}
#explanation .text #milestoneDescription td
{
	text-align: center;
	width: 120px;
}
#explanation .text #emails
{
	float: left;
	height: 400px;
	width: 300px;
}
#explanation .text #emails h3
{
	margin-left: 20px;
	margin-top: 20px;
}
#explanation .text #emails p
{
	margin-left: 30px;
	margin-top: 20px;
}
#explanation .text .divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 300px;
	margin-left: 20px;
	margin-top: 50px;
	width: 1px;
}
#explanation .text #emailsDescription
{
	float: left;
	height: 400px;
	margin: 0;
	width: 490px;
}
#explanation .text #emailsDescription h3
{
	margin-left: 30px;
}
#explanation .text #emailsDescription p
{
	margin-bottom: 0px;
	margin-left: 30px;
}
#explanation .text #emailsDescription #emailsWeb
{
	background-image: url("../img/emails.png");
	float: left;
	height: 193px;
	margin-left: 30px;
	margin-top: 20px;
	width: 469px;
}
.hideTab
{
	display: none;
}
#explanation #sweet
{
	display: none;
}
#explanation #awesome
{
	display: none;
}
#greekExplanation
{
	float: left;
	margin-left: 27px;
	margin-top: 0px;
}
#greekExplanation #cool
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 580px;
	margin-top: 0px;
	width: 855px;
}
#greekExplanation #sweet
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 400px;
	margin-top: 0px;
	width: 855px;
}
#greekExplanation #awesome
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 600px;
	margin-top: 0px;
	width: 855px;
}
#greekExplanation #shizam
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 400px;
	margin-top: 0px;
	width: 855px;
}
#greekExplanation #tabs
{
	float: left;
}
#greekExplanation #tabs #system
{
	border-radius: 3px;
	box-shadow: 0 -2px 5px #222;
	cursor: hand;
	cursor: pointer;
	display: inline;
	float: left;
	height: 20px;
	margin-left: 20px;
	width: 100px;
}
#greekExplanation #tabs #faq
{
	border-radius: 3px;
	box-shadow: 0 -2px 5px #222;
	cursor: hand;
	cursor: pointer;
	display: inline;
	float: left;
	height: 20px;
	margin-left: 20px;
	width: 100px;
}
#greekExplanation #tabs #comment
{
	border-radius: 3px;
	box-shadow: 0 -2px 5px #222;
	cursor: hand;
	cursor: pointer;
	display: inline;
	float: left;
	height: 20px;
	margin-left: 20px;
	width: 100px;
}
#greekExplanation #tabs p
{
	float: left;
	margin: 0;
	padding-top: 2px;
	text-align: center;
	width: 100%;
}
#greekExplanation .text
{
	box-shadow: 0 0px 10px #222;
	float: left;
	height: 400px;
	margin-top: 0px;
	width: 855px;
}
#greekExplanation .text #intro
{
	float: left;
	height: 120px;
	margin-left: 20px;
	margin-top: 20px;
	width: 820px;
}
#greekExplanation .text #intro h3
{
	float: left;
	margin: 0;
}
#greekExplanation .text #intro p
{
	float: left;
	margin: 0;
	padding-top: 10px;
}
#greekExplanation .text #waysTop
{
	float: left;
	margin-left: 20px;
	margin-top: 0px;
}
#greekExplanation .text #waysTop .way
{
	display: block;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	width: 360px;
}
#greekExplanation .text #waysTop .way h3
{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
#greekExplanation .text #waysTop .way p
{
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	padding-top: 0px;
	width: 360px;
}
#greekExplanation .text #waysTop .way p a
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	text-decoration: none;
}
#greekExplanation .text #waysTop .divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 150px;
	margin-left: 15px;
	margin-right: 30px;
	margin-top: 0px;
	width: 1px;
}
#greekExplanation .text #waysBottom
{
	margin-left: 20px;
	margin-top: 350px;
}
#greekExplanation .text #waysBottom .way
{
	display: block;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
	width: 360px;
}
#greekExplanation .text #waysBottom .way h3
{
	margin-bottom: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
#greekExplanation .text #waysBottom .way p
{
	height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 10px;
	padding-top: 0px;
	width: 360px;
}
#greekExplanation .text #waysBottom .way p a
{
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	text-decoration: none;
}
#greekExplanation .text #waysBottom .divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 150px;
	margin-left: 15px;
	margin-right: 30px;
	margin-top: 20px;
	width: 1px;
}
#greekExplanation .text #milestones
{
	float: left;
	height: 400px;
	width: 300px;
}
#greekExplanation .text #milestones h3
{
	margin-left: 20px;
	margin-top: 20px;
}
#greekExplanation .text #milestones p
{
	margin-left: 30px;
	margin-top: 20px;
}
#greekExplanation .text .divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 300px;
	margin-left: 20px;
	margin-top: 50px;
	width: 1px;
}
#greekExplanation .text #milestoneDescription
{
	float: left;
	height: 400px;
	margin: 0;
	width: 490px;
}
#greekExplanation .text #milestoneDescription h3
{
	margin-left: 30px;
}
#greekExplanation .text #milestoneDescription p
{
	margin-bottom: 0px;
	margin-left: 30px;
}
#greekExplanation .text #milestoneDescription table
{
	border: thin;
	border-bottom-color: white;
	color: white;
	display: table;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 30px;
	margin-top: 20px;
}
#greekExplanation .text #milestoneDescription table tbody
{
	border-bottom-color: white;
	display: table;
}
#greekExplanation .text #milestoneDescription td
{
	text-align: center;
	width: 120px;
}
#greekExplanation .text #emails
{
	float: left;
	height: 400px;
	width: 300px;
}
#greekExplanation .text #emails h3
{
	margin-left: 20px;
	margin-top: 20px;
}
#greekExplanation .text #emails p
{
	margin-left: 30px;
	margin-top: 20px;
}
#greekExplanation .text .divider
{
	background-color: #333;
	box-shadow: 0 -2px 5px #222;
	display: inline;
	float: left;
	height: 300px;
	margin-left: 20px;
	margin-top: 50px;
	width: 1px;
}
#greekExplanation .text #emailsDescription
{
	float: left;
	height: 400px;
	margin: 0;
	width: 490px;
}
#greekExplanation .text #emailsDescription h3
{
	margin-left: 30px;
}
#greekExplanation .text #emailsDescription p
{
	margin-bottom: 0px;
	margin-left: 30px;
}
#greekExplanation .text #emailsDescription #emailsWeb
{
	background-image: url("../img/emails.png");
	float: left;
	height: 193px;
	margin-left: 30px;
	margin-top: 20px;
	width: 469px;
}
#greekExplanation #sweet
{
	display: none;
}
#greekExplanation #awesome
{
	display: none;
}
.personalBox
{
	float: left;
	height: 177px;
	margin: 20px;
	width: 395px;
}
.personalBodyHeader
{
	background-image: url(../img/individual_sorter_bkg_09.png);
	height: 28px;
	width: 395px;
}
.personalTab
{
	background-image: url(../img/individual_title_small_bkg_09.png);
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	height: 27px;
	line-height: 30px;
	margin: 0 20px;
	text-indent: 20px;
	width: 120px;
}
.personalBody
{
	box-shadow: 0px 4px 5px #222222;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height: 149px;
	width: 395px;
}
.personalTable tr td
{
	height: 20px;
}
.personalTable
{
	height: 28px;
	width: 395px;
}
.personalTable tr th
{
	height: 28px;
}
.personalTableLarge
{
	text-align: left;
	text-indent: 20px;
	width: 195px;
}
.personalTableLargeOne
{
	text-align: left;
	text-indent: 20px;
	width: 295px;
}
.personalTableSmall
{
	text-align: center;
	width: 100px;
}
.personalTableEnd
{
	border-left: 1px solid black;
	text-align: center;
	width: 100px;
}
.personalTableEndOne
{
	text-align: center;
	width: 100px;
}
.personalBodyTop
{
	height: 127px;
	overflow: hidden;
}
.personalBodySpace
{
	border-left: 1px solid black;
	float: right;
	height: 127px;
	width: 100px;
}
.personalBodyBottomLarge
{
	float: left;
	height: 22px;
	line-height: 25px;
	text-indent: 20px;
	width: 195px;
}
.personalBodyBottomSmall
{
	background-image: url(../img/individual_total_bkg_09.png);
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	height: 22px;
	line-height: 25px;
	text-align: center;
	width: 99px;
}
.personalBodyBottomEnd
{
	background-image: url(../img/individual_total_bkg_09.png);
	background-position: center;
	background-repeat: no-repeat;
	border-left: 1px solid black;
	float: right;
	height: 22px;
	line-height: 25px;
	text-align: center;
	width: 100px;
}
.personalBodyBottomEndOne
{
	background-image: url(../img/individual_total_bkg_09.png);
	background-position: center;
	background-repeat: no-repeat;
	float: right;
	height: 22px;
	line-height: 25px;
	text-align: center;
	width: 100px;
}
.personalBodyTop .forScroll
{
	height: 90px;
	width: 100%;
}
.personalTableFirstRow
{
	padding-top: 5px;
}
.personalBodyBottom
{
	width: 100%;
}
#pagesHeaderTxt a
{
	color:white;
	text-decoration: underline;
}
#pagesHeaderTxt a:hover
{
	text-decoration: none;
}